alias gs='git status'
alias ga='git add'
alias gp='git push'
alias gpo='git push origin'
alias gtd='git tag --delete'
alias gtdr='git tag --delete origin'
alias gr='git branch -r'
alias gplo='git pull origin'
alias gb='git branch '

alias gc='git commit'
alias gcam='git commit -am'

alias gd='git diff'
alias gco='git checkout '
alias gl='git log'
alias gr='git remote'
alias grs='git remote show'

alias la='lsd -lah'
alias ll='lsd -l'
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -i'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias pg='ping 8.8.8.8'

alias cat='bat --paging=never -l log'

alias pac='sudo pacman -S'		# instala
alias pacs='sudo pacman -Ss'		# busca
alias pacu='sudo pacman -Syu'           # update
alias pacr='sudo pacman -R'             # remove package but not dependencies
alias pacrr='sudo pacman -Rs'           # remove package with unused dependencies by other softwares

alias v='nvim'

alias tmuxk='tmux kill-session -t'
alias tmuxa='tmux attach -t'
alias tmuxl='tmux list-sessions'

alias mux='tmuxp load'
alias um='udiskie-umount'

alias work="$HOME/workspace"
alias doc="$HOME/Documents"
alias dow="$HOME/Downloads"
alias dot="$HOME/.dotfiles"




