#
# GIT
# vieja - alias gkey='echo ghp_Wl5ShN6CxbdGrZTlp9qDuOKvUfUUmA0B7Iweme'
alias gkey='echo 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'
# otra key: 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
alias gs='git status'

# VARIOS
alias cc='clear'
alias nn='nvim'
alias ll='lsd -lah'
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -i'

#Alias para colorear salida en terminal:
alias diff='diff --color=auto'
alias ip='ip -color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'


alias cat='bat --paging=never -l log'

# PACMAN
alias pac='sudo pacman -S'		# instala
alias pacs='sudo pacman -Ss'		# busca
alias pacu='sudo pacman -Syu'           # update
alias pacr='sudo pacman -R'             # remove package but not dependencies
alias pacrr='sudo pacman -Rs'           # remove package with unused dependencies by other softwares


# ATAJOS
alias dot="$HOME/.dotfiles"

# Dirstack
alias ccd='dirs -v'


